Section: misc
Priority: optional
Maintainer: cfmlprojects <cfml@cfmlprojects.org>
Package: cfmlprojects-keyring
Priority: optional
Architecture: all
Multi-Arch: foreign
Version:1.0.0
Depends:
Recommends: gpgv
Description: cfmlprojects.org keys
 cfmlprojects.org digitally signs Release files. This package
 contains the archive keys used for that.